
@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<h3>Zalogowano jako @Session["Degree"] @Session["Name"] @Session["Surname"]</h3>
<h3>Kandydat</h3>
@*if(@Session["Type"] == 1){
<h3>Admin</h3>
}*@



